/*** CSS below just for debug purposes*/ 
div {
  border: 1px solid grey;
}

section {
  outline: 1px solid grey;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  background-color: #b3ffff;
  border-radius: 50px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-image: url("images/back.jpg");
  background-attachment: fixed;
  background-position: center;
}

.one {
  line-height: 2;
  text-align: center;
  list-style-type: none;
  font-size: 1.8rem;
}

#contents {
  /*	background-color: #000000;*/
  width: 35%;
  margin-top: 2%;
  margin-left: 32%;
  border-radius: 10px;
}

#toc {
  color: white;
  text-align: center;
  font-size: 2rem;
}

#headerDiv {
  width: 60%;
  margin: 0 auto;
  padding: 1%;
  background-color: #ffbb99;
  position: relative;
  border-radius: 20px;
}

#headerPic {
  position: relative;
  margin-left: 30%;
  border-radius: 30px;
}

.sectionBox {
  width: 87%;
  margin: auto;
  background-color: #ffbb99;
  border-radius: 20px;
  padding: 3%;
}

.sectionHeader {
  text-align: center;
}

.sectionP {
  margin: 0 auto;
  font-size: 1.3rem;
  padding: 10px;
}

@media only screen and (max-width: 1024px) {
  #headerDiv {
    width: 90%;
  }
  .sectionP {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.1rem;
  }
  #headerPic {
    width: 85%;
    margin-left: 3%;
  }
  a.one:link {
    color: #ff0000;
  }
  #contents {
    width: 85%;
    margin: 10% 5% 10% 5%;
  }
  .one {
    font-size: 1.5rem;
  }
  section {
    width: 85%;
    border-radius: 5px;
  }
  .sectionBox {
    width: 85%;
    margin: auto;
    margin-bottom: 10%;
  }
}